{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<style>
div.background {
  background: url("{% static 'img/wallpaper/1.jpg' %}") repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body>

<div class="background">
  <div class="transbox">
    <p><h3>Programming is an art with devine beauty. What U are thinking in your mind is meanwhile thoutht by Ur computer. Only difference is that U are a human being who can make the computer do any thing by Programming and Compputer is something that can make you think. So programmign is the link between Human and Computer. Thus we try to make a connection between U and your Computer. Enjoy Programming :)</h3></p>
  </div>
</div>

</body>
</html>